/* font */
@font-face {
    font-family: 'cb70';
    font-weight: 700;
    src: url(font/CK_tc04160000121.ttf);
}
@font-face {
    font-family: 'paper';
    font-weight: 700;
    src: url(font/Paperlogy-7Bold.ttf);
}
@font-face {
    font-family: 'pretendard';
    font-weight: 400;
    src: url(font/Pretendard-Regular.otf);
}
@font-face {
    font-family: 'pretendard';
    font-weight: 500;
    src: url(font/Pretendard-Medium.otf);
}
@font-face {
    font-family: 'pretendard';
    font-weight: 600;
    src: url(font/Pretendard-SemiBold.otf);
}
@font-face {
    font-family: 'pretendard';
    font-weight: 700;
    src: url(font/Pretendard-Bold.otf);
}
@font-face {
    font-family: 'pretendard';
    font-weight: 800;
    src: url(font/Pretendard-ExtraBold.otf);
}
@font-face {
    font-family: 'LABdigital';
    font-weight: 800;
    src: url(font/LAB디지털.ttf);
}
@font-face {
    font-family: 'neo';
    font-weight: 900;
    src: url(font/NanumSquareNeoOTF-Eb.otf);
}
@font-face {
    font-family: 'neo';
    font-weight: 800;
    src: url(font/NanumSquareNeoOTF-Bd.otf);
}
@font-face {
    font-family: 'korail';
    font-weight: 800;
    src: url(font/Korail_Round_Gothic_Bold.ttf);
}


/* 공통 */
html, a, button { font-family: 'pretendard'; font-weight: 700;}
body { position: relative; width: 3840px; height: 2160px;}
main { width: 100%; height: 100%;}


/* main */
.main .wrap { display: flex; width: 100%; height: 100%; background: url(../images/bg_main.png) no-repeat center / 100% auto;}
header { position: absolute; top: 0; left: 0; padding-right: 85px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;}
.weather { padding-top: 50px; display: flex; color: #333;}
.weather > div { display: flex; align-items: center; text-align: left; width: 320px; }
.weather em { display: block; font-size: 30px; }
.weather1 .img_zone { margin: 0 20px 0 50px; width: 112px; height: 112px;}
.weather1 .img_zone img { width: 100%; height: 100%; }
.weather1 b { font-size: 55px;}
.weather2 { position: relative; padding-left: 10px;}
.weather2::before { position: absolute; content: ""; left: 0; top: 50%; transform: translateY(-50%); width: 8px; height: 90px; background-color: #fff; opacity: 0.6;}
.weather2 .img_zone { margin-right: 20px; width: 112px; height: 75px;}
.weather2 .img_zone img { width: 100%; height: 100%; object-fit: cover;}
.weather2 b { font-size: 45px;}
.time { margin: 80px 0 30px; width: 365px; height: 126px; line-height: 126px; font-size: 47px; letter-spacing: 10px; background-color: #000; border: 8px solid #474747; color: #FF0000; font-size: 97px; font-family: 'LABdigital'; text-align: center;}
.date { color: #fff; font-size: 47px; font-family: 'neo'; font-weight: 800; text-shadow: 3px 3px 5px #0000005e;}
.main nav { position: absolute; top: 1215px; left: 50%; transform: translateX(-50%);}
.main nav ul { display: flex; justify-content: center;}
.main nav li a { position: relative; margin: 0 18px; display: flex; flex-direction: column; width: 430px; height: 510px; box-shadow: 0px 20px 20px #00000066; border-radius: 60px 140px; color: #fff; font-size: 65px; box-sizing: border-box; text-align: center; font-family: 'paper'; font-weight: 700;}
.main nav li:nth-child(1) a { background: transparent linear-gradient(180deg, #3D9EE9 0%, #176DAF 100%) 0% 0% no-repeat padding-box; box-shadow: 0px 20px 20px #00000066; border: 13px solid #53A9ED;}
.main nav li:nth-child(2) a { background: transparent linear-gradient(180deg, #5A66CE 0%, #313983 100%) 0% 0% no-repeat padding-box; box-shadow: 0px 20px 20px #00000066; border: 13px solid #727EE6;}
.main nav li:nth-child(3) a { background: transparent linear-gradient(180deg, #A18C1F 0%, #5D5010 100%) 0% 0% no-repeat padding-box; box-shadow: 0px 20px 20px #00000066; border: 13px solid #A6911F;}
.main nav li:nth-child(4) a { background: transparent linear-gradient(180deg, #B27655 0%, #55321F 100%) 0% 0% no-repeat padding-box; box-shadow: 0px 20px 20px #00000066; border: 13px solid #AA7050;}
.main nav li span { position: relative; margin: 45px auto 30px; width: 270px; height: 270px; border-radius: 50%; background-color: #fff; box-shadow: inset 5px 5px 10px #00000029;}
.main nav li span img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.main nav li:nth-child(1) span { border: 12px solid #186FB1; }
.main nav li:nth-child(2) span { border: 12px solid #343C89; }
.main nav li:nth-child(3) span { border: 12px solid #5F5110; }
.main nav li:nth-child(4) span { border: 12px solid #5C3723; }

/* sub 공통 */
.sub .wrap { display: flex; width: 100%; height: 100%; background: url(../images/bg_sub.png) no-repeat center / 100% auto;}
.weather { padding-top: 50px;}
.weather > div { width: 320px;}
.weather2 { padding-left: 10px;}
.container { position: relative; width: calc(100% - 640px);}
.contents { display: flex; align-items: center; justify-content: center; padding-top: 280px; width: 100%; height: 100%; box-sizing: border-box;}
.contents .uploadImg { width: 2200px; height: 1020px; overflow: hidden; text-align: center;}
.uploadImg img { height: 100%;}
h1 { position: relative; margin-top: 205px; font-size: 120px; text-align: center; font-family: 'korail'; font-weight: 800;}
h1 em { color: #184074; -webkit-text-stroke-width: 15px; -webkit-text-stroke-color: #fff; text-shadow: 10px 10px 15px #00000063;}
h1 i { position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%); color: #184074;}
.inner { position: absolute; left: 50%; transform: translateX(-50%); top: 415px; margin: 0 auto; width: 2600px; height: 1390px; background-color: #fff; box-shadow: 5px 5px 15px #00000033;}
.title { z-index: 1; position: absolute; top: 0px; left: 200px; width: 2200px; height: 280px; background: url(../images/bg_title.png) no-repeat center bottom / 100% auto;}
.title h2 { padding-left: 30px; margin-top: 170px; font-size: 60px; font-family: 'paper'; font-weight: 700;}
.list_contents { position: absolute; left: 50%; transform: translateX(-50%); top: 1805px; display: flex; width: 2600px; height: 300px; overflow: hidden;}
.list_contents li { width: 100%; height: 150px; text-align: center; }
.list_contents a { display: block; line-height: 150px; border-radius: 0 0 60px 60px; box-shadow: inset -5px -5px 20px #FFFFFF4D, 0px 5px 20px #00000080; font-size: 55px; color: #fff; box-shadow: 0px 5px 15px #00000069; }
.nav1 .list_contents a { background: transparent linear-gradient(180deg, #2A78B4 0%, #45A3EB 100%) 0% 0% no-repeat padding-box;} 
.nav2 .list_contents a { background: transparent linear-gradient(180deg, #4952A8 0%, #6A76E0 100%) 0% 0% no-repeat padding-box;} 
.nav3 .list_contents a { background: transparent linear-gradient(180deg, #9A8722 0%, #C4AC2E 100%) 0% 0% no-repeat padding-box;} 
.nav4 .list_contents a { background: transparent linear-gradient(180deg, #B45D2D 0%, #F2884E 100%) 0% 0% no-repeat padding-box;} 
.list_contents li.active a { position: relative; z-index: 1; background: #fff; color: #333;}
.snb { position: relative; padding-top: 100px; width: 675px; background: url(../images/bg_snb.png) no-repeat center / 100% 100%; box-sizing: border-box; text-align: center; box-shadow: inset 7px 0px 15px #6EA9F4, -5px 0px 15px #00000033;}
.snb .info { margin: 50px 0 30px; height: 320px; background: linear-gradient(to bottom, #598acbab, #3f6cab8c);}
.sub .time { display: inline-block; width: auto; margin: 30px 0 10px 30px; line-height: 126px; letter-spacing: normal; font-size: 85px; color: #fff; background-color: transparent; border: none; font-family: 'pretendard';}
.sub .date { display: inline-block; color: #fff; font-size: 47px; text-shadow: none;}
.sub .weather { margin: 0; padding: 0; color: #fff;}
.sub .weather > div { width: 50%;}
.sub .weather2::before { position: absolute; content: ""; left: 0; top: 50%; transform: translateY(-50%); width: 8px; height: 90px; background-color: #284B79; opacity: 0.6;}
.sub .date { margin: 0 0 30px 20px; font-weight: 700; color: #B3D4FF; font-size: 40px;}
.group_btn { display: flex; justify-content: center; margin-bottom: 50px;}
.group_btn a,
.group_btn button { display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 16px; width: 210px; height: 210px; box-shadow: 3px 3px 10px #0000004D; font-size: 35px; font-family: 'neo'; font-weight: 900; border-radius: 50%;}
.group_btn a img,
.group_btn button img { margin: -10px 0 10px; width: 95px; height: 95px;}
.btn_home { background: #FFE251; border: 12px solid #C8AD10;}
.btn_back { background-color: #fff; border: 12px solid #D4D4D4;}
.sub nav li { position: relative; width: 100%; height: 185px; }
.sub nav li a { display: flex; align-items: center; width: 100%; height: 100%; box-shadow: inset 4px 4px 10px #FEF8EC63, 3px 3px 20px #000000B3; font-size: 60px; color: #fff; font-family: 'paper'; font-weight: 700; text-shadow: 3px 3px 10px #00000080;}
.sub nav li:nth-child(1) a { z-index: 4; position: inherit; background: transparent linear-gradient(90deg, #60BAFF 0%, #3898E1 100%) 0% 0% no-repeat padding-box;}
.sub nav li:nth-child(2) a { z-index: 3; position: inherit; background: transparent linear-gradient(90deg, #919BFA 0%, #5F6BD8 100%) 0% 0% no-repeat padding-box;}
.sub nav li:nth-child(3) a { z-index: 2; position: inherit; background: transparent linear-gradient(90deg, #f2d537 0%, #9C881E 100%) 0% 0% no-repeat padding-box;}
.sub nav li:nth-child(4) a { z-index: 1; position: inherit; background: transparent linear-gradient(90deg, #FF9155 0%, #B45D2D 100%) 0% 0% no-repeat padding-box;}
.sub nav li.active a { z-index: 5; margin-left: -35px; width: 710px; font-size: 70px; border-radius: 30px 0 0 30px;}
.sub nav li.active a::before { position: absolute; content: ""; width: 100%; height: 100%; background: url(../images/nav_active.png) no-repeat center / 100% auto;}
.sub nav li a img { margin: 0 40px 0 80px; width: 140px; height: 140px;}
.btn_cast { position: absolute; bottom: 65px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; width: 558px; height: 150px; background: transparent linear-gradient(180deg, #36649F 0%, #284468 100%) 0% 0% no-repeat padding-box; box-shadow: 3px 3px 15px #00000080; border: 8px solid #7194C1; border-radius: 31px; font-size: 48px; color: #fff;}
.btn_cast img { display: inline-block; margin-left: -15px; margin-right: 15px; width: 75px; height: 75px;}


/* sub_map */
.contents.map { position: relative; padding: 0;}
.buildingLink li a { display: block; height: 100%;}
.building1 { position: absolute; left: 970px; top: 265px; width: 150px; height: 80px; }
.building2 { position: absolute; left: 1420px; top: 330px; width: 170px; height: 80px; }
.building3 { position: absolute; left: 2010px; top: 430px; width: 170px; height: 80px; }
.align_left { position: relative; padding-top: 280px; padding-left: 230px; width: calc(100% - 360px); height: 100%; background-color: #F4F4F4; box-shadow: 5px 0px 30px #00000029; box-sizing: border-box;}
.align_right { padding-top: 380px; width: 360px; height: 100%; box-sizing: border-box; text-align: center;}
.align_left div:nth-child(2) { display: flex; position: absolute; top: 1100px; left: 360px; }
.floor { margin-right: 75px; font-size: 190px; font-family: 'paper'; font-weight: 800; color: #AC4D35; }
.align_left .img_zone { width: 1900px; height: 800px;}
.align_left .img_zone img { width: 100%; height: 100%; object-fit: contain;}
.list_area { display: flex; flex-wrap: wrap; align-content: flex-start; width: 1320px;}
.list_area li { margin: 9px; }
.list_area button { position: relative; padding: 0 10px 0 82px; width: 312px; height: 80px; line-height: 32px; border-radius: 38px; background: transparent linear-gradient(90deg, #FFFFFF 0%, #EFEFEF 100%) 0% 0% no-repeat padding-box; box-shadow: 2px 2px 10px #00000033; border: 3px solid #BDBDBD; font-size: 33px; text-align: left;}
.list_area button::before { position: absolute; content: ""; top: 50%; left: 25px; transform: translateY(-50%); width: 45px; height: 45px; background: url(../images/ico_location.png) no-repeat center / 100% auto;}
.list_area li.active button::before { background-image: url(../images/ico_location_active.png);}
.list_area li.active button { background: transparent linear-gradient(180deg, #D95E3F 0%, #7D3A2A 100%) 0% 0% no-repeat padding-box; color: #fff; }
.list_map li { margin-bottom: 22px;}
.list_map button { width: 170px; height: 170px; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 4px 4px 10px #00000040; border: 8px solid #909090; border-radius: 50%; font-size: 62px; color: #333;}
.list_map .active button { border: none; background: transparent linear-gradient(180deg, #6C6C6C 0%, #414141 100%) 0% 0% no-repeat padding-box; color: #fff;}

.areaLink li {position: absolute;}
.areaLink li button { padding: 5px 12px; color: #fff; font-size: 26px; text-shadow: 2.5px 2.2px 5px #000000bd; font-weight: 600;}
.areaLink li.active button { background-color: #33333300; animation: blink 1s alternate-reverse infinite;}
@keyframes blink {
    0% {
        background-color: #33333300;
    }
    100%{
        background-color: #333;
    }
}

/* 본관b1층 */
.areaLink .areaA0-1 { top: 755px; left: 1460px;}
/* 본관1층 */
.areaLink .areaA1-1 { top: 735px; left: 390px;}
.areaLink .areaA1-2 { top: 735px; left: 919px;}
.areaLink .areaA1-3 { top: 735px; left: 1310px;}
.areaLink .areaA1-4 { top: 735px; left: 1700px;}
.areaLink .areaA1-5 { top: 735px; left: 1900px;}
/* 본관2층 */
.areaLink .areaA2-1 { top: 735px; left: 390px;}
.areaLink .areaA2-2 { top: 735px; left: 600px;}
.areaLink .areaA2-3 { top: 735px; left: 785px;}
.areaLink .areaA2-4 { top: 735px; left: 975px;}
.areaLink .areaA2-5 { top: 735px; left: 1130px;}
.areaLink .areaA2-6 { top: 735px; left: 1295px;}
.areaLink .areaA2-7 { top: 735px; left: 1475px;}
.areaLink .areaA2-8 { top: 735px; left: 1690px;}
/* 본관3층 */
.areaLink .areaA3-1 { top: 735px; left: 530px;}
.areaLink .areaA3-2 { top: 735px; left: 785px;}
.areaLink .areaA3-3 { top: 735px; left: 975px;}
.areaLink .areaA3-4 { top: 735px; left: 1115px;}
.areaLink .areaA3-5 { top: 735px; left: 1340px;}
.areaLink .areaA3-6 { top: 735px; left: 1520px;}
.areaLink .areaA3-7 { top: 735px; left: 1710px;}
.areaLink .areaA3-8 { top: 735px; left: 1910px;}
/* 본관4층 */
.areaLink .areaA4-1 { top: 735px; left: 400px;}
.areaLink .areaA4-2 { top: 735px; left: 590px;}
.areaLink .areaA4-3 { top: 735px; left: 785px;}
.areaLink .areaA4-4 { top: 735px; left: 975px;}
.areaLink .areaA4-5 { top: 735px; left: 1115px;}
.areaLink .areaA4-6 { top: 735px; left: 1340px;}
.areaLink .areaA4-7 { top: 735px; left: 1510px;}
.areaLink .areaA4-8 { top: 735px; left: 1655px;}
/* 열정관1층 */
.areaLink .areaB1-1 { top: 770px; left: 870px;}
.areaLink .areaB1-2 { top: 770px; left: 1050px;}
.areaLink .areaB1-3 { top: 770px; left: 1230px;}
.areaLink .areaB1-4 { top: 770px; left: 1410px;}
/* 열정관2층 */
.areaLink .areaB2-1 { top: 770px; left: 870px;}
.areaLink .areaB2-2 { top: 770px; left: 1050px;}
.areaLink .areaB2-3 { top: 770px; left: 1230px;}
.areaLink .areaB2-4 { top: 770px; left: 1350px;}
/* 열정관3층 */
.areaLink .areaB3-1 { top: 770px; left: 595px; width: 100px;}
.areaLink .areaB3-2 { top: 770px; left: 800px;}
.areaLink .areaB3-3 { top: 770px; left: 970px;}
.areaLink .areaB3-4 { top: 770px; left: 1290px;}
/* 열정관4층 */
.areaLink .areaB4-1 { top: 700px; left: 1015px;}
/* 열정관5층 */
.areaLink .areaB5-1 { top: 700px; left: 1015px;}
/* 도전관1층 */
.areaLink .areaC1-1 { top: 430px; left: 1090px;}
.areaLink .areaC1-2 { top: 410px; left: 1265px; width: 100px; word-break: keep-all;}
.areaLink .areaC1-3 { top: 750px; left: 910px; }
.areaLink .areaC1-4 { top: 750px; left: 1270px;}
/* 도전관3층 */
.areaLink .areaC2-1 { top: 400px; left: 1088px; width: 70px;}
.areaLink .areaC2-2 { top: 410px; left: 1150px; width: 100px;}
.areaLink .areaC2-3 { top: 430px; left: 1300px; }
.areaLink .areaC2-4 { top: 750px; left: 910px;}
.areaLink .areaC2-5 { top: 750px; left: 1190px;}
.areaLink .areaC2-6 { top: 750px; left: 1350px;}
/* 도전관4층 */
.areaLink .areaC3-1 { top: 410px; left: 988px; width: 100px; word-break: keep-all;}
.areaLink .areaC3-2 { top: 410px; left: 1130px; width: 100px; word-break: keep-all;}
.areaLink .areaC3-3 { top: 470px; left: 1275px; width: 100px; word-break: keep-all;}
.areaLink .areaC3-4 { top: 730px; left: 910px; width: 100px; }
.areaLink .areaC3-5 { top: 730px; left: 1120px; width: 100px; word-break: keep-all;}
.areaLink .areaC3-6 { top: 750px; left: 1244px; }


/* sub_gallery */
.list_gallery { display: flex; flex-wrap: wrap; align-content: flex-start; margin-top: -50px; width: 1960px;}
.list_gallery li { display: inline-block; margin: 15px; width: 460px; height: 360px;}
.list_gallery a { position: relative; display: inline-block; width: 460px; height: 360px; color: #fff;}
.list_gallery a .img_zone { position: relative; display: block; height: 100%; background-color: lightgray;}
.list_gallery a .img_zone::before { position: absolute; content: ""; left: 0; top: 0; width: 100%; height: 100%; background: transparent linear-gradient(180deg, #00000000 0%, #000000C4 100%) 0% 0% no-repeat padding-box;}
.list_gallery a .photo_title { position: absolute; left: 40px; bottom: 35px; display: flex; flex-direction: column; justify-content: end; height: 100%;}
.list_gallery a .photo_title b { font-size: 30px; font-weight: 700;}
.list_gallery a .photo_title strong { margin: 8px 0 32px; font-size: 22px; font-weight: 400;}
.btn_prev { position: absolute; top: 50%; left: 160px;}
.btn_next { position: absolute; top: 50%; right: 160px;}
.slideDot { position: absolute; left: 50%; transform: translateX(-50%); bottom: 140px; display: flex;}
.slideDot li button { margin: 0 6px; width: 25px; height: 25px; border-radius: 50%; border: 4px solid #606BCE; box-sizing: border-box;}
.slideDot li.active button { background-color: #606BCE;} 

/* modal */
.modal { z-index: 1; position: absolute; left: 0; top: 0; width: 3170px; height: 100%; background-color: #000000ba;}
.modalWin { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 2260px; height: 1720px; background-color: #fff;}
.modalTitle { display: flex; justify-content: space-between; align-items: center; padding: 0 60px 0 100px; width: 100%; height: 200px; background-color: #606BCE; color: #fff; font-size: 62px; box-sizing: border-box;}
.modalTitle .btn_close { width: 100px; height: 100px; background: url(../images/btn_close.png) no-repeat center / 100% auto; }
.modal .slide .img_zone { margin: 0 auto; margin-top: 100px; width: 1700px; height: 1250px; background-color: #fff; overflow: hidden;}
.modal .slide .img_zone img { height: 100%; }
.modal .btn_prev { position: absolute; top: 48%; left: 120px;}
.modal .btn_next { position: absolute; top: 48%; right: 120px;}
.modal .slideDot { position: absolute; left: 50%; transform: translateX(-50%); bottom: 80px; display: flex;}
.modal .slideDot li button { margin: 0 6px; width: 25px; height: 25px; border-radius: 50%; border: 4px solid #5F6BD8; box-sizing: border-box;}
.modal .slideDot li.active button { background-color: #5F6BD8;} 
