
.swiper-wrapper {
    width:2120px !important;
}

.swiper-button-prev {
    background-image: url('../../images/btn_prev_active.png');
    width: 86px;
    height: 156px;
    background-size: 130% 130%;
    top:51%;
    left: 7%;
}

.swiper-button-next {
    background-image: url('../../images/btn_next_active.png');
    width: 86px;
    height: 156px;
    background-size: 130% 130%;
    top:51%;
    right: 7%;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 120px;
}


.swiper-pagination span{
    width: 20px;
    height: 20px;
    background: #FFFFFF00;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #FFFFFF00;
    border: 4px solid #606BCE;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: #606BCE;
}


.gallery .video button .img_zone {
    position: relative;
}

.gallery .video button .img_zone::before {
    z-index: 1;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 190px;
    background: url(../../images/ico_player.png) no-repeat center / 100% auto;
}

.gallery .video button .img_zone::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

/* gallery */
.gallery {
    margin-left: 150px;
    margin-top: 250px;
    overflow: hidden;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 125px;
    width: 2120px;
    
}

.gallery ul li {
    margin: 15px;
    
}

.gallery ul li button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 460px;
    height: 358px;
    background-color: #fff;
    overflow: hidden;
    
}

.gallery ul li button .img_zone {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery ul li button .img_zone .cover {    
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000C4 100%) 0% 0% no-repeat padding-box;
    position: absolute;
}

.gallery ul li button .img_zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gallery ul li button .txt_zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    padding-bottom: 20px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
/*    border-top: 1px solid #8c8c8c;*/
    position: absolute;
    bottom: 0px;
    
}

.gallery ul li button .txt_zone b {
    display: inline-block;
    width: 430px;
    align-self: flex-start;
    font-size: 30px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: #FFFFFF;
}

.gallery ul li button .txt_zone i {
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}
