.main{
    width: 100%;
    height: 100%;    
}
.list_main{
    width: 100%;
    height: 100%;    
    background-color: #000000;
    position: absolute;
    z-index: 9999;
}

.sub_page_main {
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    width: 3165px;
    height: 2160px;
    overflow: hidden;
}

.frame_info {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
}


/* popup */
.invisible {
    display: none;
}

.popup_bg {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000d4;
}

.popup {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px 50px 80px;
    background-color: #fff;
    border-radius: 80px;
    box-sizing: border-box;
    text-align: center;
}

.popup b {
    display: block;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.popup strong {
    display: block;
    padding-top: 5px;
    font-size: 50px;
    font-weight: ;
    color: #BE0202;
    text-align: center;
}

.popup p {
    margin: 0 auto;
    padding-top: 40px;
    width: 1140px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
    text-align: left;
}

.popup span {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 40px;
    height: 6px;
    width: 130px;
    background-color: #BDBDBD;
}

.popup .img_zone {
    width: 1200px;
    height: 675px;
    overflow: hidden;
}

.popup .img_zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_close {
    position: absolute;
    right: 50px;
    top: 50px;
}

.popup .dot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.popup .dot button {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border: 4px solid #F49932;
    border-radius: 50%;
}

.popup .dot li.active button {
    background-color: #F49932;
}

.popup .btn_slide {
    position: absolute;
    left: 0;
    top: 550px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.popup_bg {
    width: 2570px;
    height: 1530px;
    top: 370px;
    left: 285px;
    transform: translate(0%, 0%);
}

.img_swiper {
/*    width: 1200px;*/
/*    overflow: hidden;*/
}

.popup .vod_zone {
    width: 1200px;
    height: 675px;
    overflow: hidden;
}

.popup .vod_zone video {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.swiper-button-prev {
    background-image: url('../../images/btn_prev_active.png');
    width: 133px;
    height: 220px;
    background-size: 130% 130%;
    left:5%;
}

.swiper-button-next {
    background-image: url('../../images/btn_next_active.png');
    width: 133px;
    height: 220px;
    background-size: 130% 130%;
    right:5%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 60px;
}


.swiper-pagination span {
    width: 20px;
    height: 20px;
    background: #FFFFFF00;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #FFFFFF00;
    border: 4px solid #606BCE;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: #606BCE;
}

.img_swiper {
    overflow: hidden;
}

.modal .slide .img_zone{
    padding: 0px 280px;
    background-color: #00000000;
}

.modal .slide .img_zone img {
    width: 100%;            /* 가로 1700px에 맞춤 */
    height: 100%;           /* 세로 1250px에 맞춤 */
    object-fit: cover;      /* 비율을 유지하며 영역을 꽉 채움 (넘치는 부분은 잘림) */
    object-position: center; /* 이미지를 정중앙에 위치시킴 */
}